/* #login-form {
  text-align: center;
  padding: 50px;
  font-size: large;
  letter-spacing: 3px;
}
legend {
  padding: 20px;
} */
/* 
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
} */
/* 
p .field {
  padding: auto;
} */
